@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    position: absolute;
    top: 32px;
    z-index: 999;
    width: 100%;
    padding: 2% 8% 25px 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: #fff;
    cursor: pointer;
}

header h1 span{
    color: rgba(5, 160, 129, 1);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

.menu a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu a:before{
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    transition: .4s ease;
}

.menu a:hover:before{
    border: 1px solid #fff;
    width: 95%;
}














.hero{
    position: relative;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background: rgba(5, 160, 129, 1);
    overflow: hidden;
}

.hero:before{
    z-index: 777;
    content: '';
    position: absolute;
    background-color: rgba(5, 160, 129, 0.3);
    width: 100%;
    height: 100%;
}

.slide.active{
    display: block;
}

.slide video{
    position: absolute;
    z-index: 000;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    clip-path: circle(0% at 0 50%);
}

.slide.active video{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.hero .slider-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    z-index: 999;
    position: absolute;
    bottom: 10%;
    left: 0%;

    
}
    

.hero .slider-menu input{
    display: none;
}

.hero .slider-menu label{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(255,255,255,0.5);
    transition: .2s ease;
    cursor: pointer;
}

.hero .slider-menu label:not(:last-child){
    margin-right: 20px;
}

.hero .slider-menu label:hover{
    transform: scale(1.3);
}
.hero .slider-menu input:checked + label{
    background-color: rgba(5, 160, 129, 1);
    border: .009px solid rgba(255,255,255,0.3);
    width: 14px;
    height: 14px;
}


.slide .content{
    position: absolute;
    z-index: 999;
    width: 50%;
    bottom: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10%;
    color: #fff;
    display: none;
}

.slide.active .content{
    display: flex;
}

.slide .content h1{
    font-size: 64px;
    line-height: 1em;
    margin-bottom: 24px
}

.slide .content h1 span{
    font-weight: 200;
}

.slide .content p{
    margin-bottom: 24px;
}

.slide .content button{
    padding: 12px 24px;
    cursor: pointer;
    color: rgba(5, 160, 129, 1);
    font-weight: bold;
    border: 1px solid rgba(5, 160, 129, 1);
}

.slide .content button:hover{
    color: #fff;
    background-color: rgba(5, 160, 129, 1);
}

.media-icons{
    position: absolute;
    z-index: 999;
    bottom: 3%;
    right: 3%;
    display: flex;
    
    justify-content: end;
    align-items: end;
    gap: 12px;
    color: #fff;
    cursor: pointer;
}

.media-icons i{
    width: 24px;
    color: #fff;
}

.media-icons i:hover{
    color: rgba(5, 160, 129, 1);
}

.media-icons span{
    font-weight: bold;
    color: rgba(5, 160, 129, 1);
}

.media-icons span:hover{
    border-bottom: 2px solid rgba(5, 160, 129, 1);
}